{% extends 'base.html' %}

{% block title %}
    Python语言基础
{% endblock %}

{% block article %}
    <section class="main_section">
        <section class="course_detail">
            <img src="../static/img/course/course.png" alt="">
            <div class="course_detail_div">
                <h1>Python语言基础 </h1>
                <p>课程种类：Python基础</p>
                <p>发布时间：2019-07-22</p>
                <p>价格：<span class="price">￥88.88</span></p>
                <p>
                    <a href="#">加入购物车</a>
                    <a href="#">立即购买</a>
                    <a href="video.html">立即观看</a>
                </p>
            </div>
        </section>
        <section class="course_summary">
            <h2>[课程介绍]</h2>
            <p class="summary_p">
                第一节：Web原理与框架介绍
                第二节：环境搭建与入门案例
                第三节：基本路由映射与命名空间
                第四节：正则路由映射参数的传递与接收
                第五节：反向解析处理器
                第六节：Request对象与Response对象
                第七节：Web前端技术与框架
                第八节：上下文与模板调用
                第九节：模板层基础语法
                第十节：模板过滤器详解
                第十一节：模板复用与block提取
            </p>
        </section>
    </section>
{% endblock %}
